
.login-page {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	background: url(../img/bg-login.jpg);
	z-index: 1;
}

.login-box {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	font-family: 'Helvetica Neue', Helvetica, 'Microsoft YaHei UI', sans-serif;
}

.login-title {
	font-family: 'Bauhaus 93', Impact, 'Helvetica Neue', Helvetica, 'Microsoft YaHei UI Light', sans-serif;
}

input.form-control {
	cursor: pointer;
}

.bootstrap-switch {
	border-color: #367fa9;
}

.dashedline {
	margin-top: 15px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #ddd;
}

.lockon-page {
  
}
.lockon-scene {
  position: relative;
  overflow: hidden;
}
.lockon-scene,
.layer {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.layer {
  position: absolute;
}
.layer div {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.lockon-bg {
	background: url(../img/bg-lockon.png) no-repeat 50% 100%;
  background-size: cover;
  position: absolute;
  width: 110%;
	height: 110%;
  left: -5%;
  top: -5%;
	bottom: 0;
}

.lockon-star {
  -webkit-transform-origin: 50% 90%;
  -moz-transform-origin: 50% 90%;
  transform-origin: 50% 90%;
  position: absolute;
  margin: 0;
  background-repeat: no-repeat;
}
.star1 {
	background-size: 300px 300px;
  height: 300px;
  width: 300px;
  background-image: url(../img/bg-star1.png);
  top: 18%;
  right: 15%;
}
.star2 {
	background-size: 166px 166px;
  height: 166px;
  width: 166px;
  background-image: url(../img/bg-star2.png);
  bottom: 15%;
  left: 22%;
}


