/*
 * Cyrus: Override Layout Style
 * ----------------------------
 */
 
body {
	font-family: 'Helvetica Neue', Helvetica, 'Microsoft YaHei UI Light', sans-serif;
}
.main-header .logo {
	font-family: 'Bauhaus 93', Impact, 'Helvetica Neue', Helvetica, 'Microsoft YaHei UI Light', sans-serif;
}
.main-sidebar {
	min-height: auto;
}
.todo-list>li .text {
	font-weight: 300;
}
.main-footer {
	margin-left: 245px;
}