/*
 * Cyrus: Override Layout Style
 * ----------------------------
 */
body {
	font-family: 'Helvetica Neue', Helvetica, 'Microsoft YaHei UI Light', sans-serif;
	font-weight: 360;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Helvetica Neue', Helvetica, 'Microsoft YaHei UI Light', sans-serif;
}
.main-header .logo {
	font-family: 'Bauhaus 93', Impact, 'Helvetica Neue', Helvetica, 'Microsoft YaHei UI Light', sans-serif;
}
.main-sidebar {
	min-height: auto;
}
.main-footer {
	margin-left: 0;
}
.form-box {
	padding: 10px 20px;
}
.content-header > .breadcrumb {
	font-size: 13px;
}
.todo-list > li .text {
	font-weight: 300;
}
.input-group {
	margin-bottom: 10px;
}
.user-profile {
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	border-bottom: 1px solid rgba(244, 244, 244, 0.48);
}
.user-profile > img {
	margin-bottom: 6px;
  height: 128px;
  width: 128px;
  border: 3px solid;
}
.invoice {
  margin: 0 8px;
}
#calendar {
	width: 100%;
}