/*
 * Cyrus: Override Layout Style
 * ----------------------------
 */

body {
	font-family: 'Helvetica Neue', Helvetica, 'Microsoft YaHei UI Light', sans-serif;
	font-weight: 360;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Helvetica Neue', Helvetica, 'Microsoft YaHei UI Light', sans-serif;
}
.main-header .logo {
	font-family: 'Bauhaus 93', Impact, 'Helvetica Neue', Helvetica, 'Microsoft YaHei UI Light', sans-serif;
}
.main-sidebar {
	min-height: auto;
}
.main-footer {
	margin-left: 0;
}

.todo-list>li .text {
	font-weight: 300;
}

#calendar {
	width: 100%;
}