<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hornbill | 锁定</title>
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
<link href="../../ptn/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../../ptn/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="../../ptn/css/app.min.css" rel="stylesheet" type="text/css" />
<link href="../../ptn/css/login.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="lockon-wrapper">
	<ul id="scene" class="lockon-scene">
		<li class="layer" data-depth="0.00"></li>
		<li class="layer" data-depth="0.10">
			<div class="lockon-bg">
			</div>
		</li>
		<li class="layer" data-depth="0.80">
			<div class="lockon-star star1">
			</div>
		</li>
		<li class="layer" data-depth="0.20">
			<div class="lockon-star star2">
			</div>
		</li>
	</ul>
	<section class="lockon-wrapper lockon-box">
		<div class="lockon-cell">
			<div class="lockscreen-logo">
				<a href="#"><b>Hornbill</b></a>
			</div>
			<!-- User name -->
			<div class="lockon-name">
				Jason Cruyff&nbsp;已锁定
			</div>
			
			<!-- START LOCK SCREEN ITEM -->
			<div class="lockscreen-item">
				<!-- lockscreen image -->
				<div class="lockscreen-image">
					<img src="../../ptn/img/user1-128x128.jpg" alt="user image"/>
				</div>
				<!-- /.lockscreen-image --> 
				
				<!-- lockscreen credentials (contains the form) -->
				<form class="lockscreen-credentials" action="../layout.html">
					<div class="input-group">
						<input type="password" class="form-control" placeholder="password" />
						<div class="input-group-btn">
							<button class="btn"><i class="fa fa-arrow-right text-muted"></i></button>
						</div>
					</div>
				</form>
				<!-- /.lockscreen credentials -->
				
			</div>
			<!-- /.lockscreen-item -->
			<div class="help-block text-center">
				请输入您的口令解除锁定
			</div>
			<div class='text-center'>
				<a href="login.html">或注销本次登录</a>
			</div>
		</div>
	</section>
	<!-- /.center -->
	
</div>
<!-- /.lockon-page --> 
<!-- js --> 
<script src="../../ptn/js/jquery-3.1.0.min.js"></script> 
<script src="../../ptn/js/bootstrap.min.js"></script> 
<script src="../../ptn/js/login/jquery.parallax.js"></script> 
<script src="../../ptn/js/login/lockon.js"></script> 
<script>
	$scene.parallax();
</script>
</body>
</html>