<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hornbill | 锁定</title>
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
<link href="../../ptn/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../../ptn/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="../../ptn/css/app.min.css" rel="stylesheet" type="text/css" />
<link href="../../ptn/css/login.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="lockon-page">

	<ul id="scene" class="lockon-scene">
			<li class="layer" data-depth="0.00"></li>
			<li class="layer" data-depth="0.10"><div class="lockon-bg"></div></li>
			<li class="layer" data-depth="0.80"><div class="lockon-star star1"></div></li>
			<li class="layer" data-depth="0.20"><div class="lockon-star star2"></div></li>
	</ul>
</div>
<!-- /.lockon-page --> 
<!-- js --> 
<script src="../../ptn/js/jquery-3.1.0.min.js"></script> 
<script src="../../ptn/js/bootstrap.min.js"></script> 
<script src="../../ptn/js/login/jquery.parallax.js"></script> 
<script src="../../ptn/js/login/lockon.js"></script> 
<script>
	$scene.parallax();
</script>
</body>
</html>