<!doctype html>
<html lang="zh-CN"><!-- InstanceBegin template="/Templates/tempage.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
<!-- InstanceBeginEditable name="RegionDoctitle" -->
<title>Horbill | Home</title>
<!-- Theme style -->
<link href="../ptn/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../ptn/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="../ptn/css/app.min.css" rel="stylesheet" type="text/css" />
<link href="../ptn/css/skins/skins.min.css" rel="stylesheet" type="text/css" />
<!-- Chart style-->
<link href="../ptn/libs/morris/morris.css" rel="stylesheet" type="text/css" />
<link href="../ptn/libs/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
<!-- Override css style -->
<link href="../ptn/css/site.css" rel="stylesheet" type="text/css" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- InstanceEndEditable -->
</head>

<body class="skin-blue sidebar-mini">
<!-- Site wrapper ==================================== -->
<div class="wrapper">
	<header class="main-header">
		<!-- Logo --> 
		<a href="layout.html" class="logo"> 
			<span class="logo-mini"><i class="fa fa-home"></i></span> 
			<span class="logo-lg">Hornbill</span>
		</a> 
		<!-- Header Navbar -->
		<nav class="navbar navbar-static-top" role="navigation"> 
			<!-- Sidebar toggle button--> 
			<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span> </a>
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<!-- Messages -->
					<li class="dropdown messages-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-envelope-o"></i> <span class="label label-success">3</span> </a>
						<ul class="dropdown-menu">
							<li class="header">你有3条内部消息尚未处理！</li>
							<li> 
								<!-- inner menu: contains the actual data -->
								<ul class="menu">
									<li>
										<a href="#">
											<div class="pull-left">
												<img src="../ptn/img/user2-160x160.jpg" class="img-circle" alt="User Image"/>
											</div>
											<h4> 技术支持团队 <small><i class="fa fa-clock-o"></i> 5 mins</small> </h4>
											<p>你觉得Hornbill前端设计有哪些问题？</p>
										</a>
									</li>
									<!-- end message -->
									<li>
										<a href="#">
											<div class="pull-left">
												<img src="../ptn/img/user1-128x128.jpg" class="img-circle" alt="user image"/>
											</div>
											<h4> 前端设计师 <small><i class="fa fa-clock-o"></i> 2 hours</small> </h4>
											<p>你对前端UI提出的改进意见回复</p>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="pull-left">
												<img src="../ptn/img/user8-128x128.jpg" class="img-circle" alt="user image"/>
											</div>
											<h4> 设计师Cyrus <small><i class="fa fa-clock-o"></i> Today</small> </h4>
											<p>服务端设计任务正在进行中...</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="footer"><a href="#">查看所有历史消息</a> </li>
						</ul>
					</li>
					<!-- Notifications -->
					<li class="dropdown notifications-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-bell-o"></i> <span class="label label-warning">12</span> </a>
						<ul class="dropdown-menu">
							<li class="header">你有12条提醒事项</li>
							<li> 
								<!-- inner menu: contains the actual data -->
								<ul class="menu">
									<li> <a href="#"> <i class="fa fa-users text-aqua"></i> 3位新成员在今天加入团队 </a> </li>
									<li> <a href="#"> <i class="fa fa-warning text-yellow"></i> 超长文本的测试行这行将显示超过显示宽度的长文本并且在多个浏览器中测试 </a> </li>
									<li> <a href="#"> <i class="fa fa-users text-red"></i> 新的订单下达，请检查 </a> </li>
									<li> <a href="#"> <i class="fa fa-shopping-cart text-green"></i> 25位客户有反馈信息 </a> </li>
									<li> <a href="#"> <i class="fa fa-user text-red"></i> 您的登录口令已经变更 </a> </li>
								</ul>
							</li>
							<li class="footer"><a href="#">查看所有提醒</a> </li>
						</ul>
					</li>
					<!-- Tasks -->
					<li class="dropdown tasks-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-flag-o"></i> <span class="label label-danger">6</span> </a>
						<ul class="dropdown-menu">
							<li class="header">您有6件待完成的团队任务</li>
							<li> 
								<!-- inner menu: contains the actual data -->
								<ul class="menu">
									<li><!-- Task item --> 
										<a href="#">
											<h3> 前端用户界面设计 <small class="pull-right">80%</small> </h3>
											<div class="progress xs">
												<div class="progress-bar progress-bar-aqua" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
													<span class="sr-only">80% 完成</span>
												</div>
											</div>
										</a> </li>
									<!-- end task item -->
									<li><!-- Task item --> 
										<a href="#">
											<h3> 调整可配置的主题色调 <small class="pull-right">50%</small> </h3>
											<div class="progress xs">
												<div class="progress-bar progress-bar-green" style="width: 50%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
													<span class="sr-only">50% 完成</span>
												</div>
											</div>
										</a> </li>
									<!-- end task item -->
									<li><!-- Task item --> 
										<a href="#">
											<h3> 主要功能模组菜单的设计 <small class="pull-right">60%</small> </h3>
											<div class="progress xs">
												<div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
													<span class="sr-only">60% 完成</span>
												</div>
											</div>
										</a> </li>
									<!-- end task item -->
									<li><!-- Task item --> 
										<a href="#">
											<h3> 服务端基础框架构建 <small class="pull-right">12%</small> </h3>
											<div class="progress xs">
												<div class="progress-bar progress-bar-yellow" style="width: 12%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
													<span class="sr-only">12% 完成</span>
												</div>
											</div>
										</a> </li>
									<!-- end task item -->
								</ul>
							</li>
							<li class="footer"> <a href="#">查看所有历史任务</a> </li>
						</ul>
					</li>
					<!-- User Account -->
					<li class="dropdown user user-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="../ptn/img/user2-160x160.jpg" class="user-image" alt="User Image"/> <span class="hidden-xs">Jason Bourne</span> </a>
						<ul class="dropdown-menu">
							<!-- User image -->
							<li class="user-header"> <img src="../ptn/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
								<p> Jason Bourne - 总设计师 <small>2016年9月完工效果</small> </p>
							</li>
							<!-- Menu Body -->
							<li class="user-body">
								<div class="col-xs-4 text-center">
									<a href="#"><i class="fa fa-university" aria-hidden="true"></i> 公司</a>
								</div>
								<div class="col-xs-4 text-center">
									<a href="#"><i class="fa fa-users" aria-hidden="true"></i> 团队</a>
								</div>
								<div class="col-xs-4 text-center">
									<a href="#"><i class="fa fa-wrench" aria-hidden="true"></i> 管理</a>
								</div>
							</li>
							<!-- Menu Footer-->
							<li class="user-footer">
								<div class="pull-left">
									<a href="account/profile.html" class="btn btn-default btn-flat"><i class="fa fa-cog" aria-hidden="true"></i> 设置</a>
								</div>
								<div class="pull-right">
									<a href="account/login.html" class="btn btn-default btn-flat"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a>
								</div>
							</li>
						</ul>
					</li>
					<!-- Lockon Button -->
					<li><a href="account/lockon.html"><i class="fa fa-power-off"></i></a></li>
				</ul>
			</div>
		</nav>
	</header>

	<!-- =============================================== -->
	<!-- Left side content -->
	<aside class="main-sidebar"> 
		<!-- sidebar -->
		<section class="sidebar">
			<!-- Sidebar user panel -->
			<div class="user-panel">
				<div class="pull-left image">
					<img src="../ptn/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
				</div>
				<div class="pull-left info">
					<p>Jason Bourne</p>
					<a href="#"><i class="fa fa-circle text-success"></i> 当前在线</a>
				</div>
			</div>
			<!-- search form -->
			<form action="#" method="get" class="sidebar-form">
				<div class="input-group">
					<input type="text" name="q" class="form-control" placeholder="Search..."/>
					<span class="input-group-btn">
					<button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</form>
			<!-- /.search form --> 
			<!-- sidebar menu: -->
			<ul class="sidebar-menu">
				<li class="header">主菜单</li>
				<li><a href="#"><i class="fa fa-dashboard"></i> <span> 主控制台</span></a> </li>
				<li class="treeview"> <a href="#"><i class="fa fa-tasks"></i> <span> 计划和总结</span><span class="label label-primary pull-right">6</span> </a>
					<ul class="treeview-menu">
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 我的计划</a> </li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 每周报告</a> </li>
					</ul>
				</li>
				<li> <a href="query/inventory.html"> <i class="fa fa-cubes"></i> <span> 库存查询</span> <small class="label pull-right bg-green">new</small> </a> </li>
				<li> <a href="query/guidance.html"> <i class="fa fa-cc"></i> <span> 指导价查询</span> <small class="label pull-right bg-green">new</small> </a> </li>
				<li class="treeview"> <a href="#"> <i class="fa fa-users"></i> <span> 客户档案</span><i class="fa fa-angle-left pull-right"></i> </a>
					<ul class="treeview-menu">
						<li><a href="customer/custprofile.html"><i class="fa fa-caret-square-o-right"></i> 我的客户</a> </li>
						<li><a href="customer/custprofile.html"><i class="fa fa-caret-square-o-right"></i> 团队客户</a> </li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 客户导入</a> </li>
					</ul>
				</li>
				<li class="treeview"> <a href="#"> <i class="fa fa-tags"></i> <span> 样品管理</span><i class="fa fa-angle-left pull-right"></i> </a>
					<ul class="treeview-menu">
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 样品查询</a> </li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 样品入库</a> </li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 样品出库</a> </li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 样品跟踪</a> </li>
					</ul>
				</li>
				<li class="treeview"> <a href="#"> <i class="fa fa-cogs"></i> <span> 系统管理</span><i class="fa fa-angle-left pull-right"></i> </a>
					<ul class="treeview-menu">
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 系统参数</a> </li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 功能管理</a> </li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 权限管理</a> </li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 用户管理</a> </li>
					</ul>
				</li>
				<li><a href="demo/demo.html"><i class="fa fa-question-circle-o"></i> <span> 使用帮助</span></a> </li>
				<li class="header">快速链接</li>
				<li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>公司网站</span></a> </li>
				<li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>流程系统</span></a> </li>
				<li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>ERP接口</span></a> </li>
			</ul>
		</section>
		<!-- /.sidebar --> 
	</aside>

	<!-- =============================================== --> 
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<section class="content-header">
		<!-- InstanceBeginEditable name="RegionContentHeader" -->
			<h1> JACK团队销售管理系统 <small>主控制台</small> </h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
				<li class="active"> 主控制台</li>
			</ol>
		<!-- InstanceEndEditable -->
		</section>
		<section class="content">
		<!-- InstanceBeginEditable name="RegionContent" -->
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-lg-3 col-xs-6">
					<!-- small box -->
					<div class="small-box bg-aqua">
						<div class="inner">
							<h3>9600W</h3>
							<p>年度计划目标</p>
						</div>
						<div class="icon">
							<i class="fa fa-flag-checkered"></i>
						</div>
						<a href="#" class="small-box-footer">详细计划 <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
				<!-- ./col -->
				<div class="col-lg-3 col-xs-6">
					<!-- small box -->
					<div class="small-box bg-green">
						<div class="inner">
							<h3>83<sup style="font-size: 20px">%</sup></h3>
							<p>计划完成率</p>
						</div>
						<div class="icon">
							<i class="fa fa-bar-chart"></i>
						</div>
						<a href="#" class="small-box-footer">完成情况 <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
				<!-- ./col -->
				<div class="col-lg-3 col-xs-6">
					<!-- small box -->
					<div class="small-box bg-yellow">
						<div class="inner">
							<h3>36</h3>
							<p>新客户成交</p>
						</div>
						<div class="icon">
							<i class="fa fa-user-plus"></i>
						</div>
						<a href="customer/custprofile.html" class="small-box-footer">客户详情 <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
				<!-- ./col -->
				<div class="col-lg-3 col-xs-6">
					<!-- small box -->
					<div class="small-box bg-red">
						<div class="inner">
							<h3>69<sup style="font-size: 20px">%</sup></h3>
							<p>库存周转率</p>
						</div>
						<div class="icon">
							<i class="fa fa-retweet"></i>
						</div>
						<a href="query/inventory.html" class="small-box-footer">库存状态 <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
				<!-- ./col -->
			</div>
			<!-- /.row --> 
			<!-- Main row -->
			<div class="row">
				<!-- Left col -->
				<section class="col-lg-7 connectedSortable">
					<!-- Sales graphBox -->
					<div class="box box-primary">
						<div class="box-header">
							<i class="fa fa-th"></i>
							<h3 class="box-title">销售业绩</h3>
							<div class="box-tools pull-right">
								<button class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
								<button class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
							</div>
						</div>
						<div class="box-body border-radius-none">
							<div class="chart" id="line-chart" style="height: 250px;">
							</div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer no-border">
							<div class="row">
								<div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
									<input type="text" class="knob" data-readonly="true" value="83" data-width="60" data-height="60" data-fgColor="aqua"/>
									<div class="knob-label">
										年度达成率
									</div>
								</div>
								<!-- ./col -->
								<div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
									<input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60" data-fgColor="orange"/>
									<div class="knob-label">
										季度达成率
									</div>
								</div>
								<!-- ./col -->
								<div class="col-xs-4 text-center">
									<input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60" data-fgColor="tomato"/>
									<div class="knob-label">
										月度达成率
									</div>
								</div>
								<!-- ./col -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.box-footer -->
					</div>
					
					<!-- TO DO List -->
					<div class="box box-default">
						<div class="box-header">
							<i class="ion ion-clipboard"></i>
							<h3 class="box-title">今日计划</h3>
							<div class="box-tools pull-right">
								<ul class="pagination pagination-sm inline">
									<li><a href="#">&laquo;</a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">&raquo;</a></li>
								</ul>
							</div>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<ul class="todo-list">
								<li> 
									<!-- drag handle --> 
									<span class="handle"> <i class="fa fa-ellipsis-v"></i> <i class="fa fa-ellipsis-v"></i> </span> 
									<!-- checkbox -->
									<input type="checkbox" value="" name=""/>
									<!-- todo text --> 
									<span class="text">取得客户联系人的详细背景调查</span> 
									<!-- Emphasis label --> 
									<small class="label label-danger"><i class="fa fa-clock-o"></i> 2 mins</small> 
									<!-- General tools such as edit or delete-->
									<div class="tools">
										<i class="fa fa-edit"></i> <i class="fa fa-trash-o"></i>
									</div>
								</li>
								<li> <span class="handle"> <i class="fa fa-ellipsis-v"></i> <i class="fa fa-ellipsis-v"></i> </span>
									<input type="checkbox" value="" name=""/>
									<span class="text">上月出差费用报销</span> <small class="label label-info"><i class="fa fa-clock-o"></i> 4 hours</small>
									<div class="tools">
										<i class="fa fa-edit"></i> <i class="fa fa-trash-o"></i>
									</div>
								</li>
								<li> <span class="handle"> <i class="fa fa-ellipsis-v"></i> <i class="fa fa-ellipsis-v"></i> </span>
									<input type="checkbox" value="" name=""/>
									<span class="text">初步了解竞争对手的目标物料</span> <small class="label label-warning"><i class="fa fa-clock-o"></i> 1 day</small>
									<div class="tools">
										<i class="fa fa-edit"></i> <i class="fa fa-trash-o"></i>
									</div>
								</li>
								<li> <span class="handle"> <i class="fa fa-ellipsis-v"></i> <i class="fa fa-ellipsis-v"></i> </span>
									<input type="checkbox" value="" name=""/>
									<span class="text">客户关键人生日赠送礼品</span> <small class="label label-success"><i class="fa fa-clock-o"></i> 3 days</small>
									<div class="tools">
										<i class="fa fa-edit"></i> <i class="fa fa-trash-o"></i>
									</div>
								</li>
								<li> <span class="handle"> <i class="fa fa-ellipsis-v"></i> <i class="fa fa-ellipsis-v"></i> </span>
									<input type="checkbox" value="" name=""/>
									<span class="text">与PM协调时间拜访上海客户群</span> <small class="label label-primary"><i class="fa fa-clock-o"></i> 1 week</small>
									<div class="tools">
										<i class="fa fa-edit"></i> <i class="fa fa-trash-o"></i>
									</div>
								</li>
							</ul>
						</div>
						<!-- /.box-body -->
						<div class="box-footer clearfix no-border">
							<button class="btn btn-default pull-right"><i class="fa fa-plus"></i> 新建计划</button>
						</div>
					</div>
					<!-- /.box -->
					
				</section>
				<!-- /.Left col --> 
				<!-- right col (We are only adding the ID to make the widgets sortable)-->
				<section class="col-lg-5 connectedSortable">
					<!-- Calendar -->
					<div class="box box-success">
						<div class="box-header">
							<i class="fa fa-calendar"></i>
							<h3 class="box-title">行事历</h3>
							<!-- tools box -->
							<div class="pull-right box-tools">
								<!-- button with a dropdown -->
								<div class="btn-group">
									<button class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></button>
									<ul class="dropdown-menu pull-right" role="menu">
										<li><a href="#">新建备忘</a></li>
										<li><a href="#">清除备忘</a></li>
										<li class="divider"></li>
										<li><a href="#">查看日历</a></li>
									</ul>
								</div>
								<button class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
								<button class="btn btn-success btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
							</div>
							<!-- /. tools -->
						</div>
						<!-- /.box-header -->
						<div class="box-body no-padding">
							<!--The calendar -->
							<div id="calendar">
							</div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer text-black">
							<span id="selected-date" class="pull-right">当前日期</span> 
							<!-- /.row -->
						</div>
					</div>
					<!-- /.box --> 
					
					<!-- System MsgBox -->
					<div class="box box-warning">
						<div class="box-header">
							<i class="fa fa-comments-o"></i>
							<h3 class="box-title">团队通告</h3>
							<div class="box-tools pull-right" data-toggle="tooltip" title="Status">
								<div class="btn-group" data-toggle="btn-toggle" >
									<button type="button" class="btn btn-default btn-sm active"><i class="fa fa-square text-green"></i></button>
									<button type="button" class="btn btn-default btn-sm"><i class="fa fa-square text-red"></i></button>
								</div>
							</div>
						</div>
						<div class="box-body chat" id="chat-box">
							<!-- chat item -->
							<div class="item">
								<img src="../ptn/img/user3-128x128.jpg" alt="user image" class="online"/>
								<p class="message"> <a href="#" class="name"> <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2:15</small> 前端设计师 </a> 我们推荐你使用新版 Edge/Chrome/Safari/Firefox/Opera 浏览器，如果您使用的是 IE 浏览器，建议使用 IE 10 及以上版本。如使用遨游、猎豹等浏览器遇无法登录的问题，请尝试切换至极速模式访问。 </p>
							</div>
							<!-- /.item --> 
							<!-- chat item -->
							<div class="item">
								<img src="../ptn/img/user5-128x128.jpg" alt="user image" class="offline"/>
								<p class="message"> <a href="#" class="name"> <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:15</small> 后端设计师 </a> 要想打破这种一拖再再拖的循环，最实用的招数还是立即就做。在做之前我们还要做一个最重要的动作——分解，将巨大的事件分解开。这个动作说起来轻松，能做到的人却都没说过它轻松。 </p>
							</div>
							<!-- /.item --> 
							<!-- chat item -->
							<div class="item">
								<img src="../ptn/img/user1-128x128.jpg" alt="user image" class="offline"/>
								<p class="message"> <a href="#" class="name"> <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:30</small> Lucy Butler </a> GTD的核心理念概括就是 “通过记录的方式把头脑中的各种事情移出来，然后整理安排自己去执行”。GTD的核心步骤为五步：收集、处理、管理、执行、回顾。 </p>
								<div class="attachment">
									<h4>附件:</h4>
									<p class="filename"> Theme-thumbnail-image.jpg </p>
									<div class="pull-right">
										<button class="btn btn-primary btn-sm btn-flat">Open</button>
									</div>
								</div>
								<!-- /.attachment -->
							</div>
							<!-- /.item -->
						</div>
						<!-- /.chat -->
						<div class="box-footer">
							<div class="pull-right">
								<a href="#">查看所有通告...</a>
							</div>
						</div>
					</div>
					<!-- /.box (System MsgBox) -->
					
				</section>
				<!-- right col -->
			</div>
		<!-- InstanceEndEditable -->
		</section>
	</div>
	<!-- /Content wrapper ============================== -->
	<!-- InstanceBeginEditable name="RegionFooter" -->
	<footer class="main-footer">
		<div class="pull-right">
			<b>Hornbill 2016. Designed by Cyrus</b>
		</div>
		<a href="#"><i class="fa fa-rocket"></i></a>
	</footer>
	<!-- InstanceEndEditable -->
</div>
<!-- /Site wrapper =================================== -->
<!-- InstanceBeginEditable name="RegionScripts" -->
<script src="../ptn/js/jquery-3.1.0.min.js"></script> 
<script src="../ptn/js/jquery-ui.min.js"></script> 
<script src="../ptn/js/bootstrap.min.js"></script> 
<!-- Morris.js charts --> 
<script src="../ptn/libs/raphael/raphael.min.js"></script> 
<script src="../ptn/libs/morris/morris.min.js"></script> 
<script src="../ptn/libs/knob/jquery.knob.js"></script> 
<!-- Datepicker --> 
<script src="../ptn/libs/datepicker/bootstrap-datepicker.js"></script> 
<script src="../ptn/libs/datepicker/bootstrap-datepicker.zh-CN.js"></script> 
<!-- Slimscroll --> 
<script src="../ptn/libs/slimScroll/jquery.slimscroll.min.js"></script> 
<!-- FastClick --> 
<script src='../ptn/libs/fastclick/fastclick.min.js'></script> 
<!-- App Common --> 
<script src="../ptn/js/app.min.js"></script> 
<!-- Dashboard page only --> 
<script src="../ptn/js/pages/dashboard.js"></script>
<!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>