<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Horbill | Template</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
<!-- Theme style -->
<link rel="stylesheet" type="text/css" href="../../ptn/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../../ptn/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="../../ptn/css/app.min.css" />
<link rel="stylesheet" type="text/css" href="../../ptn/css/skins/skins.min.css" />
<link rel="stylesheet" type="text/css" href="../../ptn/css/site.css" />
</head>

<body class="skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
	<!-- Header content -->
	<header class="main-header">
		<!-- Logo -->
		<a href="../layout.html" class="logo">
		<!-- mini logo for sidebar mini 50x50 pixels -->
		<span class="logo-mini"><i class="fa fa-home"></i></span>
		<!-- logo for regular state and mobile devices -->
		<span class="logo-lg">Hornbill</span> </a>
		<!-- Header Navbar -->
		<nav class="navbar navbar-static-top" role="navigation">
			<!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span> </a>
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<!-- Messages -->
					<li class="dropdown messages-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-envelope-o"></i> <span class="label label-success">3</span> </a>
						<ul class="dropdown-menu">
							<li class="header">你有3条内部消息尚未处理！</li>
							<li>
								<!-- inner menu: contains the actual data -->
								<ul class="menu">
									<li><!-- start message -->
										<a href="#">
										<div class="pull-left"> <img src="../../ptn/img/user2-160x160.jpg" class="img-circle" alt="User Image"/> </div>
										<h4> 技术支持团队 <small><i class="fa fa-clock-o"></i> 5 mins</small> </h4>
										<p>你觉得Hornbill前端设计有哪些问题？</p>
										</a> </li>
									<!-- end message -->
									<li> <a href="#">
										<div class="pull-left"> <img src="../../ptn/img/user1-128x128.jpg" class="img-circle" alt="user image"/> </div>
										<h4> 前端设计师 <small><i class="fa fa-clock-o"></i> 2 hours</small> </h4>
										<p>你对前端UI提出的改进意见回复</p>
										</a> </li>
									<li> <a href="#">
										<div class="pull-left"> <img src="../../ptn/img/user8-128x128.jpg" class="img-circle" alt="user image"/> </div>
										<h4> 设计师Cyrus <small><i class="fa fa-clock-o"></i> Today</small> </h4>
										<p>服务端设计任务正在进行中...</p>
										</a> </li>
								</ul>
							</li>
							<li class="footer"><a href="#">查看所有历史消息</a></li>
						</ul>
					</li>
					<!-- Notifications -->
					<li class="dropdown notifications-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-bell-o"></i> <span class="label label-warning">12</span> </a>
						<ul class="dropdown-menu">
							<li class="header">你有12条提醒事项</li>
							<li>
								<!-- inner menu: contains the actual data -->
								<ul class="menu">
									<li> <a href="#"> <i class="fa fa-users text-aqua"></i> 3位新成员在今天加入团队 </a> </li>
									<li> <a href="#"> <i class="fa fa-warning text-yellow"></i> 超长文本的测试行这行将显示超过显示宽度的长文本并且在多个浏览器中测试 </a> </li>
									<li> <a href="#"> <i class="fa fa-users text-red"></i> 新的订单下达，请检查 </a> </li>
									<li> <a href="#"> <i class="fa fa-shopping-cart text-green"></i> 25位客户有反馈信息 </a> </li>
									<li> <a href="#"> <i class="fa fa-user text-red"></i> 您的登录口令已经变更 </a> </li>
								</ul>
							</li>
							<li class="footer"><a href="#">查看所有提醒</a></li>
						</ul>
					</li>
					<!-- Tasks -->
					<li class="dropdown tasks-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-flag-o"></i> <span class="label label-danger">6</span> </a>
						<ul class="dropdown-menu">
							<li class="header">您有6件待完成的团队任务</li>
							<li>
								<!-- inner menu: contains the actual data -->
								<ul class="menu">
									<li><!-- Task item -->
										<a href="#">
										<h3> 前端用户界面设计 <small class="pull-right">80%</small> </h3>
										<div class="progress xs">
											<div class="progress-bar progress-bar-aqua" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"> <span class="sr-only">80% 完成</span> </div>
										</div>
										</a> </li>
									<!-- end task item -->
									<li><!-- Task item -->
										<a href="#">
										<h3> 调整可配置的主题色调 <small class="pull-right">50%</small> </h3>
										<div class="progress xs">
											<div class="progress-bar progress-bar-green" style="width: 50%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"> <span class="sr-only">50% 完成</span> </div>
										</div>
										</a> </li>
									<!-- end task item -->
									<li><!-- Task item -->
										<a href="#">
										<h3> 主要功能模组菜单的设计 <small class="pull-right">60%</small> </h3>
										<div class="progress xs">
											<div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"> <span class="sr-only">60% 完成</span> </div>
										</div>
										</a> </li>
									<!-- end task item -->
									<li><!-- Task item -->
										<a href="#">
										<h3> 服务端基础框架构建 <small class="pull-right">12%</small> </h3>
										<div class="progress xs">
											<div class="progress-bar progress-bar-yellow" style="width: 12%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"> <span class="sr-only">12% 完成</span> </div>
										</div>
										</a> </li>
									<!-- end task item -->
								</ul>
							</li>
							<li class="footer"> <a href="#">查看所有历史任务</a> </li>
						</ul>
					</li>
					<!-- User Account -->
					<li class="dropdown user user-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="../../ptn/img/user2-160x160.jpg" class="user-image" alt="User Image"/> <span class="hidden-xs">Jason Bourne</span> </a>
						<ul class="dropdown-menu">
							<!-- User image -->
							<li class="user-header"> <img src="../../ptn/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
								<p> Jason Bourne - 总设计师 <small>2016年9月完工效果</small> </p>
							</li>
							<!-- Menu Body -->
							<li class="user-body">
								<div class="col-xs-4 text-center"> <a href="#"><i class="fa fa-university" aria-hidden="true"></i> 公司</a> </div>
								<div class="col-xs-4 text-center"> <a href="#"><i class="fa fa-users" aria-hidden="true"></i> 团队</a> </div>
								<div class="col-xs-4 text-center"> <a href="#"><i class="fa fa-wrench" aria-hidden="true"></i> 管理</a> </div>
							</li>
							<!-- Menu Footer-->
							<li class="user-footer">
								<div class="pull-left"> <a href="#" class="btn btn-default btn-flat"><i class="fa fa-cog" aria-hidden="true"></i> 设置</a> </div>
								<div class="pull-right"> <a href="../account/login.html" class="btn btn-default btn-flat"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a> </div>
							</li>
						</ul>
					</li>
					<!-- Logout Button -->
					<li><a href="../account/login.html"><i class="fa fa-power-off"></i></a> </li>
				</ul>
			</div>
		</nav>
	</header>

	<!-- =============================================== -->
	<!-- Left side column. -->
	<aside class="main-sidebar">
		<!-- sidebar -->
		<section class="sidebar">
			<!-- Sidebar user panel -->
			<div class="user-panel">
				<div class="pull-left image"> <img src="../../ptn/img/user2-160x160.jpg" class="img-circle" alt="User Image" /> </div>
				<div class="pull-left info">
					<p>Jason Bourne</p>
					<a href="#"><i class="fa fa-circle text-success"></i> 当前在线</a> </div>
			</div>
			<!-- search form -->
			<form action="#" method="get" class="sidebar-form">
				<div class="input-group">
					<input type="text" name="q" class="form-control" placeholder="Search..."/>
					<span class="input-group-btn">
					<button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
					</span> </div>
			</form>
			<!-- /.search form -->
			<!-- sidebar menu: -->
			<ul class="sidebar-menu">
				<li class="header">主菜单</li>
				<li><a href="#"><i class="fa fa-dashboard"></i> <span>主控制台</span></a></li>
				<li class="treeview"> <a href="#"><i class="fa fa-tasks"></i> <span>计划和总结</span><span class="label label-primary pull-right">6</span> </a>
					<ul class="treeview-menu">
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 我的计划</a></li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 每周报告</a></li>
					</ul>
				</li>
				<li> <a href="#"> <i class="fa fa-cubes"></i> <span>库存查询</span> <small class="label pull-right bg-green">new</small> </a> </li>
				<li> <a href="#"> <i class="fa fa-cc"></i> <span>指导价查询</span> <small class="label pull-right bg-green">new</small> </a> </li>
				<li class="treeview"> <a href="#"> <i class="fa fa-users"></i> <span>客户档案</span><i class="fa fa-angle-left pull-right"></i> </a>
					<ul class="treeview-menu">
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 我的客户</a></li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 团队客户</a></li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 客户导入</a></li>
					</ul>
				</li>
				<li class="treeview"> <a href="#"> <i class="fa fa-tags"></i> <span>样品管理</span><i class="fa fa-angle-left pull-right"></i> </a>
					<ul class="treeview-menu">
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 样品查询</a></li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 样品入库</a></li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 样品出库</a></li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 样品跟踪</a></li>
					</ul>
				</li>
				<li class="treeview"> <a href="#"> <i class="fa fa-cogs"></i> <span>系统管理</span><i class="fa fa-angle-left pull-right"></i> </a>
					<ul class="treeview-menu">
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 系统参数</a></li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 功能管理</a></li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 权限管理</a></li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 用户管理</a></li>
					</ul>
				</li>
				<li><a href="../setting/blank.html"><i class="fa fa-question-circle-o"></i> <span>使用帮助</span></a></li>
				<li class="header">快速链接</li>
				<li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>公司网站</span></a></li>
				<li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>流程系统</span></a></li>
				<li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>ERP接口</span></a></li>
			</ul>
		</section>
		<!-- /.sidebar -->
	</aside>

	<!-- =============================================== -->
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1> 空模板页 <small>用于继承的空模板页</small> </h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
				<li><a href="#">使用帮助</a></li>
				<li class="active">空模板页</li>
			</ol>
		</section>

		<!-- Main content -->
		<section class="content">

			<!-- Tabs -->
          
					 <!-- Custom Tabs -->
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab_1" data-toggle="tab"><i class="fa fa-html5"></i> Html5</a></li>
                  <li><a href="#tab_2" data-toggle="tab"><i class="fa fa-css3"></i> CSS3</a></li>
                  <!-- Right TabButtons -->
                  <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-times"></i></a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_1">
                    <blockquote>
                    <p>万维网的核心语言、标准通用标记语言下的一个应用超文本标记语言（HTML）的第五次重大修改。2014年10月29日，万维网联盟宣布，经过接近8年的艰苦努力，该标准规范终于制定完成。</p>
                    <small>这是一项推荐标准、外语原文：<cite title="Source Title">W3C Recommendation</cite></small>
                  </blockquote>
                    <p>HTML5草案的前身名为 Web Applications 1.0，</p>
										<p>于2004年被WHATWG提出，于2007年被W3C接纳，并成立了新的 HTML 工作团队。</p>
HTML 5 的第一份正式草案已于2008年1月22日公布。HTML5 仍处于完善之中。然而，大部分现代浏览器已经具备了某些 HTML5 支持。
2012年12月17日，万维网联盟（W3C）正式宣布凝结了大量网络工作者心血的HTML5规范已经正式定稿。根据W3C的发言稿称：“HTML5是开放的Web网络平台的奠基石。”
2013年5月6日， HTML 5.1正式草案公布。该规范定义了第五次重大版本，第一次要修订万维网的核心语言：超文本标记语言（HTML）。在这个版本中，新功能不断推出，以帮助Web应用程序的作者，努力提高新元素互操作性。
本次草案的发布，从2012年12月27日至今，进行了多达近百项的修改，包括HTML和XHTML的标签，相关的API、Canvas等，同时HTML5的图像img标签及svg也进行了改进，性能得到进一步提升。
支持Html5的浏览器包括Firefox（火狐浏览器），IE9及其更高版本，Chrome（谷歌浏览器），Safari，Opera等；国内的傲游浏览器（Maxthon），以及基于IE或Chromium（Chrome的工程版或称实验版）所推出的360浏览器、搜狗浏览器、QQ浏览器、猎豹浏览器等国产浏览器同样具备支持HTML5的能力。
在移动设备开发HTML5应用只有两种方法，要不就是全使用HTML5的语法，要不就是仅使用JavaScript引擎。
                    
                  </div><!-- /.tab-pane -->
                  <div class="tab-pane" id="tab_2">
                    <blockquote>
                    <p>CSS3是CSS技术的升级版本，CSS3语言开发是朝着模块化发展的。以前的规范作为一个模块实在是太庞大而且比较复杂，所以，把它分解为一些小的模块，更多新的模块也被加入进来。</p>
                    <small>这些模块包括： 盒子模型、列表模块、超链接方式 、语言模块 、背景和边框 、文字特效 、多栏布局等</small>
                  </blockquote>
CSS即层叠样式表（Cascading StyleSheet）。 
在网页制作时采用层叠样式表技术，可以有效地对页面的布局、字体、颜色、背景和其它效果实现更加精确的控制。 
只要对相应的代码做一些简单的修改，就可以改变同一页面的不同部分，或者页数不同的网页的外观和格式。
CSS3是CSS技术的升级版本，CSS3语言开发是朝着模块化发展的。以前的规范作为一个模块实在是太庞大而且比较复杂，所以，把它分解为一些小的模块，更多新的模块也被加入进来。这些模块包括： 盒子模型、列表模块、超链接方式 、语言模块 、背景和边框 、文字特效 、多栏布局等。
                  </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
              </div><!-- nav-tabs-custom -->
            
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

<!-- js include -->
<script src="../../ptn/js/jquery-3.1.0.min.js"></script>
<script src="../../ptn/js/jquery-ui.min.js"></script>
<script src="../../ptn/js/bootstrap.min.js"></script>
<script src="../../ptn/libs/slimScroll/jquery.slimscroll.min.js"></script>
<script src='../../ptn/libs/fastclick/fastclick.min.js'></script>
<script src="../../ptn/js/app.min.js"></script>
</body>
</html>