<!doctype html>
<html lang="zh-CN"><!-- InstanceBegin template="/Templates/tempage.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
<!-- InstanceBeginEditable name="RegionDoctitle" -->
<title>Horbill | Template</title>
<link rel="stylesheet" type="text/css" href="../../ptn/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../../ptn/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="../../ptn/libs/datatables/dataTables.css">
<link rel="stylesheet" type="text/css" href="../../ptn/css/app.min.css" />
<link rel="stylesheet" type="text/css" href="../../ptn/css/skins/skins.min.css" />
<link rel="stylesheet" type="text/css" href="../../ptn/css/site.css" />
<!-- InstanceEndEditable -->
</head>

<body class="skin-blue sidebar-mini">
<!-- Site wrapper ==================================== -->
<div class="wrapper">
	<header class="main-header">
		<!-- Logo -->
		<a href="../layout.html" class="logo">
			<span class="logo-mini"><i class="fa fa-home"></i></span>
			<span class="logo-lg">Hornbill</span>
		</a>
		<!-- Header Navbar -->
		<nav class="navbar navbar-static-top" role="navigation">
			<!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"><span class="sr-only">Toggle navigation</span></a>
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<!-- Messages -->
					<li class="dropdown messages-menu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope-o"></i><span class="label label-success">3</span></a>
						<ul class="dropdown-menu">
							<li class="header">你有3条内部消息尚未处理！</li>
							<li>
								<!-- inner menu: contains the actual data -->
								<ul class="menu">
									<li>
										<a href="#">
											<div class="pull-left">
												<img src="../../ptn/img/user2-160x160.jpg" class="img-circle" alt="User Image"/>
											</div>
											<h4> 技术支持团队<small><i class="fa fa-clock-o"></i> 5 mins</small></h4>
											<p>你觉得Hornbill前端设计有哪些问题？</p>
										</a>
									</li>
									<!-- end message -->
									<li>
										<a href="#">
											<div class="pull-left">
												<img src="../../ptn/img/user1-128x128.jpg" class="img-circle" alt="user image"/>
											</div>
											<h4> 前端设计师<small><i class="fa fa-clock-o"></i> 2 hours</small></h4>
											<p>你对前端UI提出的改进意见回复</p>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="pull-left">
												<img src="../../ptn/img/user8-128x128.jpg" class="img-circle" alt="user image"/>
											</div>
											<h4> 设计师Cyrus<small><i class="fa fa-clock-o"></i> Today</small></h4>
											<p>服务端设计任务正在进行中...</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="footer"><a href="#">查看所有历史消息</a></li>
						</ul>
					</li>
					<!-- Notifications -->
					<li class="dropdown notifications-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-bell-o"></i> <span class="label label-warning">12</span> </a>
						<ul class="dropdown-menu">
							<li class="header">你有12条提醒事项</li>
							<li>
								<!-- inner menu: contains the actual data -->
								<ul class="menu">
									<li> <a href="#"> <i class="fa fa-users text-aqua"></i> 3位新成员在今天加入团队 </a> </li>
									<li> <a href="#"> <i class="fa fa-warning text-yellow"></i> 超长文本的测试行这行将显示超过显示宽度的长文本并且在多个浏览器中测试 </a> </li>
									<li> <a href="#"> <i class="fa fa-users text-red"></i> 新的订单下达，请检查 </a> </li>
									<li> <a href="#"> <i class="fa fa-shopping-cart text-green"></i> 25位客户有反馈信息 </a> </li>
									<li> <a href="#"> <i class="fa fa-user text-red"></i> 您的登录口令已经变更 </a> </li>
								</ul>
							</li>
							<li class="footer"><a href="#">查看所有提醒</a> </li>
						</ul>
					</li>
					<!-- Tasks -->
					<li class="dropdown tasks-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-flag-o"></i> <span class="label label-danger">6</span> </a>
						<ul class="dropdown-menu">
							<li class="header">您有6件待完成的团队任务</li>
							<li>
								<!-- inner menu: contains the actual data -->
								<ul class="menu">
									<li><!-- Task item -->
										<a href="#">
											<h3> 前端用户界面设计 <small class="pull-right">80%</small> </h3>
											<div class="progress xs">
												<div class="progress-bar progress-bar-aqua" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
													<span class="sr-only">80% 完成</span>
												</div>
											</div>
										</a> </li>
									<!-- end task item -->
									<li><!-- Task item -->
										<a href="#">
											<h3> 调整可配置的主题色调 <small class="pull-right">50%</small> </h3>
											<div class="progress xs">
												<div class="progress-bar progress-bar-green" style="width: 50%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
													<span class="sr-only">50% 完成</span>
												</div>
											</div>
										</a> </li>
									<!-- end task item -->
									<li><!-- Task item -->
										<a href="#">
											<h3> 主要功能模组菜单的设计 <small class="pull-right">60%</small> </h3>
											<div class="progress xs">
												<div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
													<span class="sr-only">60% 完成</span>
												</div>
											</div>
										</a> </li>
									<!-- end task item -->
									<li><!-- Task item -->
										<a href="#">
											<h3> 服务端基础框架构建 <small class="pull-right">12%</small> </h3>
											<div class="progress xs">
												<div class="progress-bar progress-bar-yellow" style="width: 12%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
													<span class="sr-only">12% 完成</span>
												</div>
											</div>
										</a> </li>
									<!-- end task item -->
								</ul>
							</li>
							<li class="footer"> <a href="#">查看所有历史任务</a> </li>
						</ul>
					</li>
					<!-- User Account -->
					<li class="dropdown user user-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="../../ptn/img/user2-160x160.jpg" class="user-image" alt="User Image"/> <span class="hidden-xs">Jason Bourne</span> </a>
						<ul class="dropdown-menu">
							<!-- User image -->
							<li class="user-header"> <img src="../../ptn/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
								<p> Jason Bourne - 总设计师 <small>2016年9月完工效果</small> </p>
							</li>
							<!-- Menu Body -->
							<li class="user-body">
								<div class="col-xs-4 text-center">
									<a href="#"><i class="fa fa-university" aria-hidden="true"></i> 公司</a>
								</div>
								<div class="col-xs-4 text-center">
									<a href="#"><i class="fa fa-users" aria-hidden="true"></i> 团队</a>
								</div>
								<div class="col-xs-4 text-center">
									<a href="#"><i class="fa fa-wrench" aria-hidden="true"></i> 管理</a>
								</div>
							</li>
							<!-- Menu Footer-->
							<li class="user-footer">
								<div class="pull-left">
									<a href="../account/profile.html" class="btn btn-default btn-flat"><i class="fa fa-cog" aria-hidden="true"></i> 设置</a>
								</div>
								<div class="pull-right">
									<a href="../account/login.html" class="btn btn-default btn-flat"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a>
								</div>
							</li>
						</ul>
					</li>
					<!-- Lockon Button -->
					<li><a href="../account/lockon.html"><i class="fa fa-power-off"></i></a></li>
				</ul>
			</div>
		</nav>
	</header>

	<!-- =============================================== -->
	<!-- Left side content -->
	<aside class="main-sidebar">
		<!-- sidebar -->
		<section class="sidebar">
			<!-- Sidebar user panel -->
			<div class="user-panel">
				<div class="pull-left image">
					<img src="../../ptn/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
				</div>
				<div class="pull-left info">
					<p>Jason Bourne</p>
					<a href="#"><i class="fa fa-circle text-success"></i> 当前在线</a>
				</div>
			</div>
			<!-- search form -->
			<form action="#" method="get" class="sidebar-form">
				<div class="input-group">
					<input type="text" name="q" class="form-control" placeholder="Search..."/>
					<span class="input-group-btn">
					<button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</form>
			<!-- /.search form -->
			<!-- sidebar menu: -->
			<ul class="sidebar-menu">
				<li class="header">主菜单</li>
				<li><a href="../layout.html"><i class="fa fa-dashboard"></i><span> 主控制台</span></a></li>
				<li class="treeview"> <a href="#"><i class="fa fa-tasks"></i><span> 计划与总结</span><span class="label label-primary pull-right">6</span></a>
					<ul class="treeview-menu">
						<li><a href="../plan/todo.html"><i class="fa fa-caret-square-o-right"></i> 我的计划</a></li>
						<li><a href="../plan/review.html"><i class="fa fa-caret-square-o-right"></i> 计划总结</a></li>
						<li><a href="../plan/todolist.html"><i class="fa fa-caret-square-o-right"></i> 计划清单</a></li>
						<li><a href="../plan/report.html"><i class="fa fa-caret-square-o-right"></i> 周期报告</a></li>
					</ul>
				</li>
				<li> <a href="inventory.html"> <i class="fa fa-cubes"></i><span> 库存查询</span><small class="label pull-right bg-green">new</small></a></li>
				<li> <a href="guidance.html"> <i class="fa fa-cc"></i><span> 指导价查询</span><small class="label pull-right bg-green">new</small></a></li>
				<li class="treeview"> <a href="#"> <i class="fa fa-users"></i> <span> 客户档案</span><i class="fa fa-angle-left pull-right"></i> </a>
					<ul class="treeview-menu">
						<li><a href="../customer/custprofile.html"><i class="fa fa-caret-square-o-right"></i> 我的客户</a> </li>
						<li><a href="../customer/custprofile.html"><i class="fa fa-caret-square-o-right"></i> 团队客户</a> </li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 客户导入</a> </li>
					</ul>
				</li>
				<li class="treeview"> <a href="#"> <i class="fa fa-tags"></i> <span> 样品管理</span><i class="fa fa-angle-left pull-right"></i> </a>
					<ul class="treeview-menu">
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 样品查询</a> </li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 样品入库</a> </li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 样品出库</a> </li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 样品跟踪</a> </li>
					</ul>
				</li>
				<li class="treeview"> <a href="#"> <i class="fa fa-cogs"></i> <span> 系统管理</span><i class="fa fa-angle-left pull-right"></i> </a>
					<ul class="treeview-menu">
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 系统参数</a> </li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 功能管理</a> </li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 权限管理</a> </li>
						<li><a href="#"><i class="fa fa-caret-square-o-right"></i> 用户管理</a> </li>
					</ul>
				</li>
				<li><a href="../demo/demo.html"><i class="fa fa-question-circle-o"></i> <span> 使用帮助</span></a> </li>
				<li class="header">快速链接</li>
				<li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>公司网站</span></a> </li>
				<li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>流程系统</span></a> </li>
				<li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>ERP接口</span></a> </li>
			</ul>
		</section>
		<!-- /.sidebar -->
	</aside>

	<!-- =============================================== -->
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<section class="content-header">
		<!-- InstanceBeginEditable name="RegionContentHeader" -->
			<h1> 指导价查询 <small>查询物料的标准指导价</small> </h1>
			<ol class="breadcrumb">
				<li><a href="../layout.html"><i class="fa fa-home"></i> Home</a> </li>
				<li class="active">指导价查询</li>
			</ol>
		<!-- InstanceEndEditable -->
		</section>
		<section class="content">
		<!-- InstanceBeginEditable name="RegionContent" -->
			<form role="form">
				<!-- Query box -->
				<div class="box box-warning">
					<div class="box-header with-border">
						<h3 class="box-title">查询条件</h3>
						<div class="box-tools pull-right">
							<button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"><i class="fa fa-minus"></i></button>
							<button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip"><i class="fa fa-times"></i></button>
						</div>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
                      <textarea class="form-control" rows="3" placeholder="批量输入料号 ..."></textarea>
                    </div>
							</div>
							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-apple"></i></span>
									<input type="text" class="form-control" placeholder="品牌：可选条件 ..."/>
								</div>

								<button type="submit" class="btn btn-block btn-success"><i class="fa fa-search"></i>&nbsp;开始查询</button>
							</div>
						</div>

					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</form>
			<!-- =========================================== -->
			<div class="row">
				<div class="col-xs-12">
					<div class="box box-primary">
						<div class="box-header">
							<h3 class="box-title">查询结果</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<table id="tbInventory" class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>品牌</th>
										<th>料号</th>
										<th>物料名称</th>
										<th>纳期</th>
										<th>可用量</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>TDK</td>
										<td>C0402X5R0G224M020BC 4.0</td>
										<td>Win 95+</td>
										<td> 4</td>
										<td>X</td>
									</tr>
									<tr>
										<td>TDK</td>
										<td>C0402X5R0G224M020BC 5.0</td>
										<td>Win 95+</td>
										<td>5</td>
										<td>C</td>
									</tr>
									<tr>
										<td>TDK</td>
										<td>C0402X5R0G224M020BC 5.5</td>
										<td>Win 95+</td>
										<td>5.5</td>
										<td>A</td>
									</tr>
									<tr>
										<td>TDK</td>
										<td>C0402X5R0G224M020BC 6</td>
										<td>Win 98+</td>
										<td>6</td>
										<td>A</td>
									</tr>
									<tr>
										<td>TDK</td>
										<td>C0402X5R0G224M020BC 7</td>
										<td>Win XP SP2+</td>
										<td>7</td>
										<td>A</td>
									</tr>
									<tr>
										<td>TDK</td>
										<td>CLJ1005T-2N7J-S-NP (AOL desktop)</td>
										<td>Win XP</td>
										<td>6</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Yageo</td>
										<td>CLJ1005T-2N7J-S-NP 1.0</td>
										<td>Win 98+ / OSX.2+</td>
										<td>1.7</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Yageo</td>
										<td>CLJ1005T-2N7J-S-NP 1.5</td>
										<td>Win 98+ / OSX.2+</td>
										<td>1.8</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Yageo</td>
										<td>CLJ1005T-2N7J-S-NP 2.0</td>
										<td>Win 98+ / OSX.2+</td>
										<td>1.8</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Yageo</td>
										<td>CLJ1005T-2N7J-S-NP 3.0</td>
										<td>Win 2k+ / OSX.3+</td>
										<td>1.9</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Yageo</td>
										<td>Camino 1.0</td>
										<td>OSX.2+</td>
										<td>1.8</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Yageo</td>
										<td>Camino 1.5</td>
										<td>OSX.3+</td>
										<td>1.8</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Yageo</td>
										<td>CC0805KKX7RBBB102  7.2</td>
										<td>Win 95+ / Mac OS 8.6-9.2</td>
										<td>1.7</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Yageo</td>
										<td>CC0805KKX7RBBB102  Browser 8</td>
										<td>Win 98SE+</td>
										<td>1.7</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Yageo</td>
										<td>CC0805KKX7RBBB102  Navigator 9</td>
										<td>Win 98+ / OSX.2+</td>
										<td>1.8</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Yageo</td>
										<td>CC0805JRNPO9BN101 1.0</td>
										<td>CC1206KKX5R7BB475</td>
										<td>1</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Yageo</td>
										<td>CC0805JRNPO9BN101 1.1</td>
										<td>CC1206KKX5R7BB475</td>
										<td>1.1</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Yageo</td>
										<td>CC0805JRNPO9BN101 1.2</td>
										<td>CC1206KKX5R7BB475</td>
										<td>1.2</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Yageo</td>
										<td>CC0805JRNPO9BN101 1.3</td>
										<td>CC1206KKX5R7BB475</td>
										<td>1.3</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Yageo</td>
										<td>CC0805JRNPO9BN101 1.4</td>
										<td>CC1206KKX5R7BB475</td>
										<td>1.4</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Yageo</td>
										<td>CC0805JRNPO9BN101 1.5</td>
										<td>CC1206KKX5R7BB475</td>
										<td>1.5</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Yageo</td>
										<td>CC0805JRNPO9BN101 1.6</td>
										<td>CC1206KKX5R7BB475</td>
										<td>1.6</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Yageo</td>
										<td>CC0805JRNPO9BN101 1.7</td>
										<td>Win 98+ / OSX.1+</td>
										<td>1.7</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Yageo</td>
										<td>CC0805JRNPO9BN101 1.8</td>
										<td>Win 98+ / OSX.1+</td>
										<td>1.8</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Yageo</td>
										<td>Seamonkey 1.1</td>
										<td>Win 98+ / OSX.2+</td>
										<td>1.8</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Yageo</td>
										<td>Epiphany 2.20</td>
										<td>Gnome</td>
										<td>1.8</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Samsung</td>
										<td>CL10C201JB8NNNC 1.2</td>
										<td>OSX.3</td>
										<td>125.5</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Samsung</td>
										<td>CL10C201JB8NNNC 1.3</td>
										<td>OSX.3</td>
										<td>312.8</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Samsung</td>
										<td>CL10C201JB8NNNC 2.0</td>
										<td>OSX.4+</td>
										<td>419.3</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Samsung</td>
										<td>CL10C201JB8NNNC 3.0</td>
										<td>OSX.4+</td>
										<td>522.1</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Samsung</td>
										<td>OmniWeb 5.5</td>
										<td>OSX.4+</td>
										<td>420</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Samsung</td>
										<td>iPod Touch / iPhone</td>
										<td>iPod</td>
										<td>420.1</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Samsung</td>
										<td>S60</td>
										<td>S60</td>
										<td>413</td>
										<td>A</td>
									</tr>
									<tr>
										<td>MURATA</td>
										<td>CL02A102KQ2NNNC 7.0</td>
										<td>CC1206KKX5R7BB475</td>
										<td>-</td>
										<td>A</td>
									</tr>
									<tr>
										<td>MURATA</td>
										<td>CL02A102KQ2NNNC 7.5</td>
										<td>Win 95+ / OSX.2+</td>
										<td>-</td>
										<td>A</td>
									</tr>
									<tr>
										<td>MURATA</td>
										<td>CL02A102KQ2NNNC 8.0</td>
										<td>Win 95+ / OSX.2+</td>
										<td>-</td>
										<td>A</td>
									</tr>
									<tr>
										<td>MURATA</td>
										<td>CL02A102KQ2NNNC 8.5</td>
										<td>Win 95+ / OSX.2+</td>
										<td>-</td>
										<td>A</td>
									</tr>
									<tr>
										<td>MURATA</td>
										<td>CL02A102KQ2NNNC 9.0</td>
										<td>Win 95+ / OSX.3+</td>
										<td>-</td>
										<td>A</td>
									</tr>
									<tr>
										<td>MURATA</td>
										<td>CL02A102KQ2NNNC 9.2</td>
										<td>Win 88+ / OSX.3+</td>
										<td>-</td>
										<td>A</td>
									</tr>
									<tr>
										<td>MURATA</td>
										<td>CL02A102KQ2NNNC 9.5</td>
										<td>Win 88+ / OSX.3+</td>
										<td>-</td>
										<td>A</td>
									</tr>
									<tr>
										<td>MURATA</td>
										<td>CL02A102KQ2NNNC for Wii</td>
										<td>Wii</td>
										<td>-</td>
										<td>A</td>
									</tr>
									<tr>
										<td>MURATA</td>
										<td>Nokia N800</td>
										<td>N800</td>
										<td>-</td>
										<td>A</td>
									</tr>
									<tr>
										<td>MURATA</td>
										<td>Nintendo DS browser</td>
										<td>Nintendo DS</td>
										<td>8.5</td>
										<td>C/A<sup>1</sup></td>
									</tr>
									<tr>
										<td>MURATA</td>
										<td>GRM1885C1H100JA01D 3.1</td>
										<td>KDE 3.1</td>
										<td>3.1</td>
										<td>C</td>
									</tr>
									<tr>
										<td>MURATA</td>
										<td>GRM1885C1H100JA01D 3.3</td>
										<td>KDE 3.3</td>
										<td>3.3</td>
										<td>A</td>
									</tr>
									<tr>
										<td>MURATA</td>
										<td>GRM1885C1H100JA01D 3.5</td>
										<td>KDE 3.5</td>
										<td>3.5</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Tasman</td>
										<td>C0402X5R0G224M020BC 4.5</td>
										<td>Mac OS 8-9</td>
										<td>-</td>
										<td>X</td>
									</tr>
									<tr>
										<td>Tasman</td>
										<td>C0402X5R0G224M020BC 5.1</td>
										<td>Mac OS 7.6-9</td>
										<td>1</td>
										<td>C</td>
									</tr>
									<tr>
										<td>Tasman</td>
										<td>C0402X5R0G224M020BC 5.2</td>
										<td>Mac OS 8-X</td>
										<td>1</td>
										<td>C</td>
									</tr>
									<tr>
										<td>Sunlord</td>
										<td>SWPA3015S2R2NT 3.1</td>
										<td>Embedded devices</td>
										<td>-</td>
										<td>C</td>
									</tr>
									<tr>
										<td>Sunlord</td>
										<td>SWPA3015S2R2NT 3.4</td>
										<td>Embedded devices</td>
										<td>-</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Sunlord</td>
										<td>Dillo 0.8</td>
										<td>Embedded devices</td>
										<td>-</td>
										<td>X</td>
									</tr>
									<tr>
										<td>Sunlord</td>
										<td>SWPA3015S2R2NT</td>
										<td>Text only</td>
										<td>-</td>
										<td>X</td>
									</tr>
									<tr>
										<td>Sunlord</td>
										<td>SWPA3015S2R2NT</td>
										<td>Text only</td>
										<td>-</td>
										<td>X</td>
									</tr>
									<tr>
										<td>Sunlord</td>
										<td>SWPA3015S2R2NT</td>
										<td>Windows Mobile 6</td>
										<td>-</td>
										<td>C</td>
									</tr>
									<tr>
										<td>Sunlord</td>
										<td>SWPA3015S2R2NT</td>
										<td>PSP</td>
										<td>-</td>
										<td>C</td>
									</tr>
									<tr>
										<td>Other browsers</td>
										<td>All others</td>
										<td>-</td>
										<td>-</td>
										<td>U</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th>品牌</th>
										<th>料号</th>
										<th>物料名称</th>
										<th>纳期</th>
										<th>可用量</th>
									</tr>
								</tfoot>
							</table>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->

					<!-- /.box -->
				</div>
				<!-- /.col -->

			</div>
		<!-- InstanceEndEditable -->
		</section>
	</div>
	<!-- /Content wrapper ============================== -->
	<!-- InstanceBeginEditable name="RegionFooter" -->
	
	<!-- InstanceEndEditable -->
</div>
<!-- /Site wrapper =================================== -->
<!-- InstanceBeginEditable name="RegionModals" -->

<!-- InstanceEndEditable -->
<!-- ================================================= -->
<!-- InstanceBeginEditable name="RegionScripts" -->
<script src="../../ptn/js/jquery-3.1.0.min.js"></script>
<script src="../../ptn/js/jquery-ui.min.js"></script>
<script src="../../ptn/js/bootstrap.min.js"></script>
<script src="../../ptn/libs/datatables/dataTables.min.js"></script>
<script src="../../ptn/libs/slimScroll/jquery.slimscroll.min.js"></script>
<script src='../../ptn/libs/fastclick/fastclick.min.js'></script>
<script src="../../ptn/js/app.min.js"></script>
<script src="../../ptn/js/site.js"></script>
<!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>